@font-face {
  font-family: 'Poppins-Bold';
  src: url("../../assets/fonts/Poppins-Bold.woff2") format("woff2"), url("../../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Black';
  src: url("../../assets/fonts/Poppins-Black.woff2") format("woff2"), url("../../assets/fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url("../../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SilkSerif-LightItalic';
  src: url("../../assets/fonts/SilkSerif-LightItalic.woff2") format("woff2"), url("../../assets/fonts/SilkSerif-LightItalic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SilkSerif-Light';
  src: url("../../assets/fonts/SilkSerif-Light.woff2") format("woff2"), url("../../assets/fonts/SilkSerif-Light.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* line 88, ../../scss/pages/homepage.scss */
body {
  background: white;
  color: black;
  font-family: 'Poppins-Medium';
  font-size: 20px;
  margin: 0;
  word-break: break-word;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 88, ../../scss/pages/homepage.scss */
  body {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 88, ../../scss/pages/homepage.scss */
  body {
    font-size: 15px;
  }
}
/* line 105, ../../scss/pages/homepage.scss */
body * {
  box-sizing: border-box;
}
/* line 109, ../../scss/pages/homepage.scss */
body p {
  word-break: break-word !important;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media (min-width: 1025px), (min-width: 768px) and (max-width: 1024px) {
  /* line 117, ../../scss/pages/homepage.scss */
  body .phone-only {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 123, ../../scss/pages/homepage.scss */
  body .hidden-phone {
    display: none;
  }
}
/* line 129, ../../scss/pages/homepage.scss */
body .button-container {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
/* line 135, ../../scss/pages/homepage.scss */
body .button {
  padding: 10px 30px;
  font-family: 'SilkSerif-LightItalic';
  border: solid 1px #D77D3D;
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
@media (max-width: 767px) {
  /* line 135, ../../scss/pages/homepage.scss */
  body .button {
    font-size: 20px;
  }
}
/* line 149, ../../scss/pages/homepage.scss */
body .button:hover {
  background: #D77D3D;
  color: black;
}
/* line 155, ../../scss/pages/homepage.scss */
body a.nodelink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
/* line 164, ../../scss/pages/homepage.scss */
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100px;
}
/* line 176, ../../scss/pages/homepage.scss */
body header img {
  height: auto;
  width: 250px;
}
/* line 182, ../../scss/pages/homepage.scss */
body .hero-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
  overflow: hidden;
  padding: 100px 30px;
}
/* line 191, ../../scss/pages/homepage.scss */
body .hero-section .animated-bg {
  background: #3F5EFB;
  background: radial-gradient(circle, #3f5efb 0%, #000000 75%);
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  top: 100px;
  right: 100px;
  width: 55vw;
  height: 55vw;
  border-radius: 100%;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  opacity: 0;
  animation: fade-in 2s ease-out 1s forwards;
}
@media (max-width: 767px) {
  /* line 191, ../../scss/pages/homepage.scss */
  body .hero-section .animated-bg {
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 191, ../../scss/pages/homepage.scss */
  body .hero-section .animated-bg {
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
/* line 229, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption {
  left: 0;
  width: 100%;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  height: 100%;
  justify-content: space-between;
  padding: 50px 30px;
}
@media (max-width: 767px) {
  /* line 229, ../../scss/pages/homepage.scss */
  body .hero-section .hero-caption {
    padding: 10px;
  }
}
/* line 246, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line {
  width: 100%;
  opacity: 0;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(1) {
  animation: fade-up 0.9s ease-out 0.3s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(2) {
  animation: fade-up 1.1s ease-out 0.4s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(3) {
  animation: fade-up 1.3s ease-out 0.5s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(4) {
  animation: fade-up 1.5s ease-out 0.6s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(5) {
  animation: fade-up 1.7s ease-out 0.7s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(6) {
  animation: fade-up 1.9s ease-out 0.8s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(7) {
  animation: fade-up 2.1s ease-out 0.9s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(8) {
  animation: fade-up 2.3s ease-out 1s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(9) {
  animation: fade-up 2.5s ease-out 1.1s forwards;
}
/* line 259, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line:nth-child(10) {
  animation: fade-up 2.7s ease-out 1.2s forwards;
}
/* line 267, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .line h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 150px;
  margin: 0;
  color: white;
  line-height: 1;
}
@media (max-width: 767px) {
  /* line 267, ../../scss/pages/homepage.scss */
  body .hero-section .hero-caption .line h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 267, ../../scss/pages/homepage.scss */
  body .hero-section .hero-caption .line h1 {
    font-size: 100px;
  }
}
/* line 286, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .hero-short {
  max-width: 500px;
  opacity: 0;
  animation: fade-up .9s ease-out 1.5s forwards;
  margin-top: 30px;
}
/* line 292, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .hero-short h2 {
  font-weight: normal;
}
/* line 296, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .hero-short .discover.button {
  margin-top: 50px;
}
/* line 299, ../../scss/pages/homepage.scss */
body .hero-section .hero-caption .hero-short .discover.button:hover {
  background: #D77D3D;
  color: black;
}
/* line 308, ../../scss/pages/homepage.scss */
body .homepage-block {
  position: relative;
  padding: 100px 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 308, ../../scss/pages/homepage.scss */
  body .homepage-block {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  /* line 308, ../../scss/pages/homepage.scss */
  body .homepage-block {
    padding: 100px 10px;
  }
}
/* line 320, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container {
  width: 100%;
  position: relative;
  background: #F0EFED;
  color: black;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
/* line 328, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container.video-active {
  background: #D77D3D;
}
/* line 334, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container.in-view .homepage-block-inner .block-title {
  animation: fade-up .9s ease-out .3s forwards;
}
/* line 338, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container.in-view .homepage-block-inner .block-text {
  animation: fade-up 1.2s ease-out .5s forwards;
}
/* line 344, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container .homepage-block-inner {
  width: 100%;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* line 352, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container .homepage-block-inner .block-title {
  width: 50%;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  opacity: 0;
  padding-right: 30px;
}
@media (max-width: 767px) {
  /* line 352, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-video-container .homepage-block-inner .block-title {
    padding-right: 0;
    width: 100%;
  }
}
/* line 366, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container .homepage-block-inner .block-text {
  width: 50%;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  opacity: 0;
  padding-left: 30px;
}
@media (max-width: 767px) {
  /* line 366, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-video-container .homepage-block-inner .block-text {
    padding-left: 0;
    width: 100%;
  }
}
/* line 381, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container .video-container {
  position: relative;
  width: 100%;
  margin: 100px auto;
  padding-top: 56.25%;
  height: 0;
}
@media (max-width: 767px) {
  /* line 381, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-video-container .video-container {
    margin: 50px auto;
  }
}
/* line 392, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-video-container .video-container iframe, body .homepage-block.homepage-video-container .video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 402, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container {
  background: #F0EFED;
}
/* line 407, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container.in-view .homepage-block-inner .metric-info {
  animation: fade-up .9s ease-out .3s forwards;
}
/* line 411, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container.in-view .homepage-block-inner .metric-graphic {
  height: 100%;
}
/* line 418, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 100px;
}
@media (min-width: 1025px) {
  /* line 427, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+1) .number {
    order: 2;
  }
  /* line 431, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+1) .metric-info {
    order: 1;
  }
  /* line 435, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+1) .metric-graphic {
    right: -20px;
    left: auto;
  }
  /* line 442, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+2) .number {
    order: 1;
  }
  /* line 446, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+2) .metric-info {
    order: 2;
  }
  /* line 450, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-item:nth-child(2n+2) .metric-graphic {
    left: -20px;
    right: auto;
  }
}
/* line 458, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .metric-graphic {
  background: #D77D3D;
  width: 5px;
  height: 10%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all ease-out 2s;
  -moz-transition: all ease-out 2s;
  -ms-transition: all ease-out 2s;
  -o-transition: all ease-out 2s;
  transition: all ease-out 2s;
  left: -20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 458, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-graphic {
    left: 0;
  }
}
@media (max-width: 767px) {
  /* line 458, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-graphic {
    left: 0;
  }
}
/* line 477, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .metric-graphic svg {
  width: 30px;
  position: absolute;
  left: -13px;
  top: -15px;
  fill: #D77D3D;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 488, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .number {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (max-width: 767px) {
  /* line 488, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .number {
    padding-right: 0;
    order: 1;
    width: 100%;
  }
}
/* line 500, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .number .count-up {
  font-size: 300px;
  line-height: 1;
  font-weight: 600;
  padding-left: 30px;
}
@media (max-width: 767px) {
  /* line 500, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .number .count-up {
    font-size: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 500, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .number .count-up {
    font-size: 200px;
  }
}
/* line 515, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .number .percent {
  font-weight: bold;
  font-size: 30px;
  color: #D77D3D;
}
/* line 522, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .metric-info {
  width: 50%;
  opacity: 0;
}
@media (max-width: 767px) {
  /* line 522, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-metric-container .homepage-block-inner .metric-info {
    width: 100%;
    order: 2;
    padding-left: 30px;
  }
}
/* line 532, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-metric-container .homepage-block-inner .metric-info .block-title {
  margin-bottom: 30px;
}
/* line 539, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container {
  background: #1B1F45;
  color: white;
  background: #020024;
  background: linear-gradient(90deg, #020024 10%, #0022ff 23%, white 42%, white 55%, #0022ff 84%, #020024 100%);
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  background-size: 200% 200%;
  background-position: 0% 50%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 539, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container {
    padding: 100px 0;
  }
}
/* line 554, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .button-container {
  justify-content: center;
}
@media (max-width: 767px) {
  /* line 539, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container {
    background-size: 300% 200%;
  }
}
/* line 564, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container.in-view .problem .block-title {
  animation: fade-up .6s ease-out .4s forwards;
}
/* line 568, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container.in-view .problem .block-text {
  animation: fade-up .9s ease-out .9s forwards;
}
/* line 574, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container.answered {
  background-position: 100% 0%;
}
@media (max-width: 767px) {
  /* line 580, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container.answered .homepage-block-inner .flex-container .answer {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}
@media (min-width: 1025px) {
  /* line 590, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container.answered .homepage-block-inner .flex-container .problem {
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  /* line 595, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container.answered .homepage-block-inner .flex-container .problem .button {
    background: #D77D3D;
  }
  /* line 600, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container.answered .homepage-block-inner .flex-container .answer {
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
  }
}
/* line 610, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
/* line 618, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 624, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .problem {
  width: 50%;
  padding: 30px;
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
/* line 631, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .problem .block-title {
  margin-bottom: 30px;
  opacity: 0;
}
/* line 636, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .problem .block-text {
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 624, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .problem {
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 624, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .problem {
    width: 100%;
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/* line 651, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .answer {
  width: 50%;
  padding: 30px;
  position: relative;
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  opacity: 0;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 651, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .answer {
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 651, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .answer {
    width: 100%;
    opacity: 1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/* line 675, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-problemsolving-container .homepage-block-inner .flex-container .answer .block-title {
  margin-bottom: 30px;
}
/* line 683, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container {
  padding-bottom: 0;
}
/* line 687, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestones-track {
  border-bottom: solid 0px black;
  border-top: solid 5px black;
  margin-top: 100px;
}
@media (max-width: 767px) {
  /* line 687, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestones-track {
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    margin-bottom: 100px;
  }
}
/* line 699, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone {
  position: sticky;
  top: 0;
  padding: 0px 30px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  background: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 699, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone {
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 699, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone {
    padding: 0 10px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-top: solid 5px black;
  }
}
/* line 720, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .date {
  width: 20%;
  padding-right: 30px;
  border-right: solid 5px black;
  padding-top: 100px;
}
@media (max-width: 767px) {
  /* line 720, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .date {
    width: 100%;
    padding-left: 0;
    border-right: solid 0px black;
  }
}
/* line 733, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
@media (max-width: 767px) {
  /* line 733, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info {
    width: 100%;
    padding: 0;
  }
}
/* line 745, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-title {
  width: calc(50%);
  padding-left: 30px;
  padding-top: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 745, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-title {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 754, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-title h2 {
    margin: 0;
  }
}
@media (max-width: 767px) {
  /* line 745, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-title {
    width: 100%;
    padding: 0;
  }
}
/* line 765, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-text {
  width: 50%;
  padding-left: 100px;
  padding-top: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 765, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-text {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  /* line 765, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-text {
    width: 100%;
    padding: 0;
  }
  /* line 780, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone .milestone-info .block-text .inner {
    display: none;
  }
}
/* line 790, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone:nth-child(1) {
  z-index: 1;
}
/* line 790, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone:nth-child(2) {
  z-index: 2;
}
/* line 790, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone:nth-child(3) {
  z-index: 3;
}
/* line 790, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone:nth-child(4) {
  z-index: 4;
}
/* line 790, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-milestones-container .homepage-block-inner .milestone:nth-child(5) {
  z-index: 5;
}
/* line 801, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial {
  background: #1B1F45;
  color: white;
}
/* line 805, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .image-container {
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  opacity: 0.6;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 805, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .image-container {
    width: 60%;
    top: 10%;
  }
}
@media (max-width: 767px) {
  /* line 805, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .image-container {
    width: 100%;
    top: 10%;
    opacity: 0.5;
  }
}
/* line 824, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .image-container img {
  width: 100%;
  object-fit: contain;
}
/* line 830, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .homepage-block-inner {
  padding: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 830, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .homepage-block-inner {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  /* line 830, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .homepage-block-inner {
    padding: 10px;
  }
}
/* line 841, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .homepage-block-inner .testimonial-text {
  width: 70%;
  max-width: 1280px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 841, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .homepage-block-inner .testimonial-text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 841, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .homepage-block-inner .testimonial-text {
    padding: 0;
    width: 100%;
  }
}
/* line 856, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .testimonial-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px auto;
  position: relative;
}
/* line 863, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .testimonial-container .testimonial-text {
  font-family: "Garamond";
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  /* line 863, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-testimonial .testimonial-container .testimonial-text {
    padding: 0;
    font-size: 30px;
  }
}
/* line 876, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .testimonial-container .name {
  font-size: 15px;
  text-transform: uppercase;
  order: 2;
}
/* line 881, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .testimonial-container .name:before {
  content: "-";
  margin-right: 5px;
}
/* line 886, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-testimonial .testimonial-container .name:after {
  content: "-";
  margin-left: 5px;
}
/* line 895, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .block-title {
  margin-bottom: 50px;
  text-align: center;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(1) {
  animation: fade-up 0.9s ease-out 0.3s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(2) {
  animation: fade-up 1.1s ease-out 0.4s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(3) {
  animation: fade-up 1.3s ease-out 0.5s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(4) {
  animation: fade-up 1.5s ease-out 0.6s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(5) {
  animation: fade-up 1.7s ease-out 0.7s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(6) {
  animation: fade-up 1.9s ease-out 0.8s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(7) {
  animation: fade-up 2.1s ease-out 0.9s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(8) {
  animation: fade-up 2.3s ease-out 1s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(9) {
  animation: fade-up 2.5s ease-out 1.1s forwards;
}
/* line 912, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies.in-view .homepage-block-inner .case-study:nth-child(10) {
  animation: fade-up 2.7s ease-out 1.2s forwards;
}
/* line 923, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner {
  max-width: 1280px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* line 931, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study {
  width: 40%;
  border-radius: 20px;
  background: #1B1F45;
  color: white;
  overflow: hidden;
  position: relative;
  margin: 0 30px;
  opacity: 0;
}
@media (max-width: 767px) {
  /* line 931, ../../scss/pages/homepage.scss */
  body .homepage-block.homepage-casestudies .homepage-block-inner .case-study {
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
/* line 948, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study:hover .image-container {
  opacity: 0.2;
}
/* line 952, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study:hover .info {
  animation: fade-up .6s ease-out forwards;
}
/* line 957, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study .image-container {
  position: relative;
  width: 100%;
  z-index: 1;
  padding-top: 170%;
  height: 0;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
/* line 966, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
/* line 977, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  padding: 30px;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}
/* line 988, ../../scss/pages/homepage.scss */
body .homepage-block.homepage-casestudies .homepage-block-inner .case-study .info .title {
  font-family: "SilkSerif-LightItalic";
  font-size: 30px;
  margin-bottom: 30px;
}

/* line 1000, ../../scss/pages/homepage.scss */
.maxwidth {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/* line 1006, ../../scss/pages/homepage.scss */
h1 {
  font-family: 'Poppins-Bold';
  font-weight: normal;
}

/* line 1011, ../../scss/pages/homepage.scss */
h2 {
  font-family: 'Poppins-Bold';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 80px;
  margin: 0;
  line-height: 1;
}
@media (max-width: 767px) {
  /* line 1011, ../../scss/pages/homepage.scss */
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 1011, ../../scss/pages/homepage.scss */
  h2 {
    font-size: 40px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes height-up {
  from {
    height: 10%;
  }
  to {
    height: 100%;
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heroGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
